<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.UserRegisterMapper">


	<sql id="select_count">
		<if test="userCustom!=null">
			<if test="userCustom.username!=null and userCustom.username!='' ">

				username=#{userCustom.username}

			</if>

		</if>

	</sql>
	<select id="findCountByLoginUser" resultType="java.lang.Integer"
		parameterType="cn.itcast.ssm.po.UserLoginVo">
		select count(*) from login_user
		<where>
			<include refid="select_count"></include>

		</where>

	</select>


	<insert id="RegisterUser" parameterType="cn.itcast.ssm.po.UserLoginVo">
		insert into user (username)values(#{userCustom.username})



		<selectKey keyProperty="userCustom.login_user_id" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID();
		</selectKey>

	</insert>
	<insert id="RegisterUser1" parameterType="cn.itcast.ssm.po.UserLoginVo">

		insert into login_user
		(login_user_id,username,password,user_trueName)values(#{userCustom.login_user_id},#{userCustom.username},#{userCustom.password},#{userCustom.user_trueName})
	</insert>


</mapper>